<%- include('../../template/head.ejs') %>
<div class="main-grid">
    <%- include('../../template/header.ejs') %>
    <main>
        <%- include('../components/entregable.component.ejs') %> 
    </main>
</div>
<script src="/public/js/subirEntregable.js" type="module"></script>
<%- include('../../template/footer.ejs') %>