<%- include('../../template/head.ejs') %>
<div class="main-grid">
    <%- include('../../template/header.ejs') %>
    <main>
        <section>
            <header>
                <span class="title">MODIFICAR PROYECTO</span>   
            </header>
            <main>
                <%- include('../components/formularioModificarProyecto.component.ejs') %>
            </main>
        </section>
    </main>
</div>
<script src="/public/js/modificarProyecto.js" type="module"></script>
<%- include('../../template/footer.ejs') %>