<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos1.css">
    <title>Mis Tareas</title>
</head>
<body>
    <div class="sidenav text-center">
        <img class="rounded-circle img-fluid img-profile" src="img/1.png">
        <h2 class="display-6">X</h2>
        <br><br>
        <div class="align-items-center minh-100">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action lg-side-item"><a class="side-item" href="#">Mis proyectos</a></li>
                <li class="list-group-item list-group-item-action lg-side-item"><a class="side-item" href="tareas">Mis tareas</a></li>
                <li class="list-group-item list-group-item-action lg-side-item"><a class="side-item" href="#">Notificaciones</a></li>                
                <li class="list-group-item list-group-item-action lg-side-item"><a class="side-item" href="#">Cerrar sesi&oacute;n</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-primary fixed-top d-lg-none">
        <a class="navbar-brand" href="#">
            <img src="img/1.png" class="img-fluid" alt="logo" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                <a class="nav-link text-white" href="#">Mis proyectos</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="#">Mis tareas</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="#">Notificaciones</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Cerrar sesi&oacute;n</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="contenido">
        <div class="container-fluid">
            <br><br>
            <h1 align="center">Mis Tareas</h1>
            <br><br>
            <div class="row justify-content-center">
                <div class="container">
                    <h2>Total de tareas pendientes: 1</h2>   
                    <br><br>    
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Fecha de asignación</th>
                          <th>Estado</th>
                          <th>Proyecto</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Corregir modelo E</td>
                          <td>14/03/2021</td>
                          <td>Pendiente</td>
                          <td>Proyecto 1</td>
                          <td>
                            <a href="vertarea" class="btn btn-primary">Ver tarea</a>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
        </div>
    </div>
    </div>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
