<div class="col-md-5 mb-4 shadow pl-0 pr-0">
    <div class="div p-1 bg-primary mb-4 w-100">
        <p class="title text-center text-white">Recepción</p>
    </div>
    <div class="d-flex flex-column align-items-center">
        <p class="font-weight-bold">Calificación</p>
        <p class="title mt-0"><%= entregable.calificacion || '-' %> </p>
    </div>
    <div class="d-flex flex-column align-items-center">
        <p class="font-weight-bold">Observaciones del profesor</p>
        <p class=text-justify><%= entregable.observaciones %> </p>
    </div>
</div>