<fieldset class="row border mb-4" id="componente_equipo" disabled>
    <legend class="font-weight-bold w-auto">Equipo</legend>
    <%- include('../components/seleccionEquipo.component.ejs') %>
    <p class="font-weight-bold mx-auto w-auto">Integrantes</p>
    <div class="form-group col-12 row d-flex justify-content-start" id="integrantes">
    </div>
</fieldset>