<div class="form-group col-md-12">
    <label for="lista_alumnos" class="font-weight-bold">Seleccionar equipo:</label>
    <div class="form-group d-flex flex-wrap justify-content-between">
      <select class="form-control col-sm-12 col-md-10 mb-2" id="lista_alumnos">
        <option value="" disabled selected>Lista de alumnos</option>
      </select>
      <input type="button" class="btn btn-primary col-sm-12 col-md-2 mb-2" value="Agregar" id="btn_agregar_integrante">
    </div>
</div>