<section class="mt-2">
    <div class="row ml-0 mr-0 border-bottom align-items-center d-flex flex-column flex-md-row">
        <div class="col-md-2 mb-2 pl-0 pr-0 mr-2">
            <a href="/alumno/misTareas" class="btn btn-block btn-outline-secondary">Regresar a las tareas</a>
        </div>
        <p class="title col-md-9 pb-2 pl-0 pr-0 m-0">Nombre de la tarea: Corregir Modelo E</p>
    </div>
    
    <div id="detalles">
        <%- include('./infoTarea.component.ejs') %> 
        </div>
    </div>
</section>