<nav>
    <ul>
        <li>
            <a href="/profesor" class="<%= menuSelection == 'Materias' ? 'nav-option active' : 'nav-option' %>">
                <i class="fas fa-pencil-ruler"></i>
                <span>Materias</span>
            </a>
        </li>
        <!-- <li>
            <a href="#" class="<%= menuSelection == 'Y' ? 'nav-option active' : 'nav-option' %>">
                <i class="fas fa-tasks"></i>
                <span>Y</span>
            </a>
        </li>
        <li>
            <a href="#" class="<%= menuSelection == 'Proyectos' ? 'nav-option active' : 'nav-option' %>">
                <i class="fas fa-bell"></i>
                <span>Proyectos</span>
            </a>
        </li> -->
        <li>
            <a href="#" id="sign-out" class="<%= menuSelection == 'Cerrar Sesión' ? 'nav-option active' : 'nav-option' %>">
                <i class="fas fa-sign-out-alt"></i>
                <span>Cerrar sesión</span>
            </a>
        </li>
    </ul>
</nav>