<h3>Tareas vencidas</h3>
<div class="table-responsive">
    <table class="table mt-5 ">
    <thead class="table-danger text-center">
        <tr>
        <th class="text-left">Nombre</th>
        <th class="text-left">Descripci&oacute;n</th>
        <th>Fecha asignacion</th>
        <th>Fecha limite</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <% if (!aVencidos.length){ %>
            <tr><td colspan="4">No hay tareas vencidas</td></tr>
        <% } else { %>
            <% for (let entregado of aVencidos){ %>
                <tr>
                <td class="text-left"><%= entregado.nombre %></td>
                <td class="text-left"><%= entregado.descripcion %></td>
                <td><%= entregado.fecha_asignacion %></td>
                <td><%= entregado.fecha_limite %></td>
                </tr>
        <% }} %>
    </tbody>
    </table>
</div>