<%- include('../../template/head'); %>
<div class="main-grid">
    <%- include('../../template/header.ejs') %>
    <main>
        <section>
            <header>
                <span class="title">MATERIAS</span>   
            </header>
            <main>
                <%- include('../components/infoMateriasCard.ejs') %>
            </main>
        </section>
    </main>
</div>
<%- include('../../template/footer.ejs') %>